In [4]:
import pandas as pd

hex_games = pd.read_csv("hex_games.csv")
hex_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 82 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cell_0_0  5000 non-null   int64
 1   cell_0_1  5000 non-null   int64
 2   cell_0_2  5000 non-null   int64
 3   cell_0_3  5000 non-null   int64
 4   cell_0_4  5000 non-null   int64
 5   cell_0_5  5000 non-null   int64
 6   cell_0_6  5000 non-null   int64
 7   cell_0_7  5000 non-null   int64
 8   cell_0_8  5000 non-null   int64
 9   cell_1_0  5000 non-null   int64
 10  cell_1_1  5000 non-null   int64
 11  cell_1_2  5000 non-null   int64
 12  cell_1_3  5000 non-null   int64
 13  cell_1_4  5000 non-null   int64
 14  cell_1_5  5000 non-null   int64
 15  cell_1_6  5000 non-null   int64
 16  cell_1_7  5000 non-null   int64
 17  cell_1_8  5000 non-null   int64
 18  cell_2_0  5000 non-null   int64
 19  cell_2_1  5000 non-null   int64
 20  cell_2_2  5000 non-null   int64
 21  cell_2_3  5000 non-null   int64
 22  cell_2_4  5000 non-null   int64
 23  cell_2_5  5000 non-null   int64
 24  cell_2_6  5000 non-null   int64
 25  cell_2_7  5000 non-null   int64
 26  cell_2_8  5000 non-null   int64
 27  cell_3_0  5000 non-null   int64
 28  cell_3_1  5000 non-null   int64
 29  cell_3_2  5000 non-null   int64
 30  cell_3_3  5000 non-null   int64
 31  cell_3_4  5000 non-null   int64
 32  cell_3_5  5000 non-null   int64
 33  cell_3_6  5000 non-null   int64
 34  cell_3_7  5000 non-null   int64
 35  cell_3_8  5000 non-null   int64
 36  cell_4_0  5000 non-null   int64
 37  cell_4_1  5000 non-null   int64
 38  cell_4_2  5000 non-null   int64
 39  cell_4_3  5000 non-null   int64
 40  cell_4_4  5000 non-null   int64
 41  cell_4_5  5000 non-null   int64
 42  cell_4_6  5000 non-null   int64
 43  cell_4_7  5000 non-null   int64
 44  cell_4_8  5000 non-null   int64
 45  cell_5_0  5000 non-null   int64
 46  cell_5_1  5000 non-null   int64
 47  cell_5_2  5000 non-null   int64
 48  cell_5_3  5000 non-null   int64
 49  cell_5_4  5000 non-null   int64
 50  cell_5_5  5000 non-null   int64
 51  cell_5_6  5000 non-null   int64
 52  cell_5_7  5000 non-null   int64
 53  cell_5_8  5000 non-null   int64
 54  cell_6_0  5000 non-null   int64
 55  cell_6_1  5000 non-null   int64
 56  cell_6_2  5000 non-null   int64
 57  cell_6_3  5000 non-null   int64
 58  cell_6_4  5000 non-null   int64
 59  cell_6_5  5000 non-null   int64
 60  cell_6_6  5000 non-null   int64
 61  cell_6_7  5000 non-null   int64
 62  cell_6_8  5000 non-null   int64
 63  cell_7_0  5000 non-null   int64
 64  cell_7_1  5000 non-null   int64
 65  cell_7_2  5000 non-null   int64
 66  cell_7_3  5000 non-null   int64
 67  cell_7_4  5000 non-null   int64
 68  cell_7_5  5000 non-null   int64
 69  cell_7_6  5000 non-null   int64
 70  cell_7_7  5000 non-null   int64
 71  cell_7_8  5000 non-null   int64
 72  cell_8_0  5000 non-null   int64
 73  cell_8_1  5000 non-null   int64
 74  cell_8_2  5000 non-null   int64
 75  cell_8_3  5000 non-null   int64
 76  cell_8_4  5000 non-null   int64
 77  cell_8_5  5000 non-null   int64
 78  cell_8_6  5000 non-null   int64
 79  cell_8_7  5000 non-null   int64
 80  cell_8_8  5000 non-null   int64
 81  winner    5000 non-null   int64
dtypes: int64(82)
memory usage: 3.1 MB

In [5]:
hex_games

,cell_0_0,cell_0_1,cell_0_2,cell_0_3,cell_0_4,cell_0_5,cell_0_6,cell_0_7,cell_0_8,cell_1_0,...,cell_8_0,cell_8_1,cell_8_2,cell_8_3,cell_8_4,cell_8_5,cell_8_6,cell_8_7,cell_8_8,winner
0,1,-1,1,1,1,-1,1,-1,-1,1,...,1,-1,1,1,-1,-1,1,1,-1,0
1,-1,0,0,1,-1,0,-1,-1,1,1,...,-1,-1,0,1,1,-1,-1,-1,-1,0
2,-1,-1,1,1,1,1,-1,-1,-1,-1,...,1,-1,-1,-1,1,-1,1,-1,1,1
3,1,-1,-1,1,1,1,-1,-1,-1,1,...,-1,0,1,1,-1,-1,-1,1,-1,0
4,-1,1,1,-1,1,-1,0,-1,0,0,...,1,1,1,0,1,0,-1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1,1,1,1,1,1,1,-1,-1,-1,...,-1,1,1,1,-1,-1,1,-1,1,0
4996,1,1,-1,-1,-1,-1,-1,-1,-1,-1,...,1,1,-1,-1,1,-1,1,1,-1,1
4997,1,1,-1,-1,-1,1,1,-1,-1,1,...,1,-1,1,-1,1,-1,1,-1,-1,0
4998,-1,-1,0,-1,1,1,-1,1,1,-1,...,1,-1,-1,0,-1,1,-1,1,1,1
4999,1,1,0,0,0,0,-1,1,0,-1,...,-1,0,1,0,-1,-1,-1,1,1,1